html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*CSS for the _BookListPartial*/

/*#region CSS for _BookListPartial */

/* General flex CSS */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: Black;
    height: 250px;
}

/* Nested Flex for the left side */
.flex-book-cover-container {
    display: flex;
    flex-direction: column;
    background-color: crimson;
    margin: 20px;
    padding: 10px;
    align-items: center;
    flex-basis: 15%;
}

#book-cover-pic {
    max-height: 450px;
    max-width: 300px;
    margin-bottom: 10px;
}

.flex-book-cover-container > #stuff-under-cover {
    font-size: 20px;
    text-align: center;
}

/* Nested Flex for the right side */
.flex-right-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 20px;
    margin-left: 0px;
    padding: 10px;
    flex-basis: calc(100% - 20%);
}

.flex-right-container > .short-items-container {
    font-size: 20px;
}

.flex-right-container > .title-author-lang-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.title-author-lang-container > .short-text {
    margin-right: 15px;
    font-size: 20px;
}

.flex-right-container > #book-description {
    font-size: 15px;
}

/*#endregion */

/*#region CSS Boostrap changes for Book Details */
@media (min-width: 768px) { /* Medium devices (tablets, 768px and up) */
    #book-cover-pic {
        max-width: 150px;
    }
}

@media (min-width: 992px) { /* Large devices (desktops, 992px and up) */
    #book-cover-pic {
        max-width: 200px;
    }
}

@media (min-width: 1200px) { /* Extra large devices (large desktops, 1200px and up) */
    #book-cover-pic {
        max-width: 250px;
    }
}
/*#endregion */