html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.body-footer-divider {
    width: 100%;
    height: 3rem;
}

.bd-mode-toggle {
    z-index: 1500;
}

#bd-theme {
    background-color: #DAA520;
}
.border-goldenrod {
    border: 1px solid #DAA520;
}

/*#region CSS for _BookListPartial */

/* General flex CSS */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: Black;
    height: 250px;
}

/* Nested Flex for the left side */
.flex-book-cover-container {
    display: flex;
    flex-direction: column;
    background-color: crimson;
    margin: 20px;
    padding: 10px;
    align-items: center;
    flex-basis: 15%;
}

#book-cover-pic {
    max-height: 180px;
    max-width: 120px;
    margin-bottom: 10px;
}

.flex-book-cover-container > #stuff-under-cover {
    font-size: 20px;
    text-align: center;
}

/* Nested Flex for the right side */
.flex-right-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 20px;
    margin-left: 0px;
    padding: 10px;
    flex-basis: calc(100% - 20%);
}

.flex-right-container > .short-items-container {
    font-size: 20px;
}

.flex-right-container > .title-author-lang-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.title-author-lang-container > .short-text {
    margin-right: 15px;
    font-size: 20px;
}

.flex-right-container > #book-description {
    font-size: 15px;
}

/*#endregion */

/*#region CSS Boostrap changes for Book Details */
@media (min-width: 576px) { /* Small devices (landscape phones, 576px and up) */
    #book-cover-pic {
        max-width: 300px !important;
        max-height: 450px !important;
    }
    .sticky-sidebar {
        position: static !important;
    }
}
@media (min-width: 768px) { /* Medium devices (tablets, 768px and up) */
    #book-cover-pic {
        max-width: 150px !important;
        max-height: 225px !important;
    }
    .sticky-sidebar {
        position: -webkit-sticky; /* For Safari */
        position: sticky !important;
        top: 75px; /* Adjust as needed */
    }
}

@media (min-width: 992px) { /* Large devices (desktops, 992px and up) */
    #book-cover-pic {
        max-width: 200px !important;
        max-height: 300px !important;
    }
    .additional-details {
        margin-top: 60px; /* Add some margin to separate from the book details */
    }
}

@media (min-width: 1200px) { /* Extra large devices (large desktops, 1200px and up) */
    #book-cover-pic {
        max-width: 250px !important;
        max-height: 375px !important;
    }
}
@media (min-width: 1400px) {/* Extra large devices (large desktops, 1400px and up) */
    #book-cover-pic {
        max-width: 300px !important;
        max-height: 450px !important;
    }

}

html, body {
    height: 100%;
    margin: 0;
}

.full-height-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    margin-top: 75px; /* Adjust as needed */
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.sticky-sidebar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 75px; /* Adjust as needed */
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
}

.site-footer {
    position: fixed;
}

.sticky-top {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    /*top: 0;*/
    z-index: 1030;
}

.additional-details {
    margin-top: 20px; /* Add some margin to separate from the book details */
}

header .fixed-top {
    z-index: 1400;
    margin-bottom: 0px;
}

nav {
    margin-bottom: 20px;
    background-color: #726880;
}

nav .container .navbar-brand,
nav .container .nav-link {
    color: #DAA520 !important;
}
/*#endregion */