@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold my-5">Welcome to KajanReview!</h1>
    <h1 class="display-4 my-5">Book list</h1>

    @foreach (var book in Model.Books)
    {
        <partial name="Shared/_BookListPartial" for="@book" />
    }
</div>
