@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // ViewData["Books"] = Model.Books;
}

<div class="text-center">
    <h1 class="display-4">Book list</h1>
    @Html.Partial("Shared/_BookListPartial.cshtml", Model)
    @* <partial name="Shared/_BookListPartial.cshtml" /> *@
</div>
